
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>ContactUs</h2>
<p>00648888822</p>
<p>0064 220441429</p>
<hr>
<a href="virdipreety66@gmail.com">VWin Email:(virdipreety66@gmail.com)</a>
<hr />
<a href="https:/www.facbook.com/vwin.painter" target="_blank">VWin Painter FaceBook</a>
<hr />
<div id="contact">
	Name
	<input id="Text1" type="text" size="50"/>
	<br />
	Email
	<input id="Text1" type="text" size="50"/>
	<br />
	Message
	<input id="Text1" type="text" size="200" />
	<br />

	<input id="Submit1" type="submit" value="submit" />

</div>


