
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Gallery</h2>
<div class="gallery">
	<h2>Gallery</h2>
	<img src="~/Gallery/001.jpg" />
	<img src="~/Gallery/002.jpg" />
	<img src="~/Gallery/003.jpg" />
	<img src="~/Gallery/004.jpg" />
	<img src="~/Gallery/005.jpg" />
	<img src="~/Gallery/006.jpg" />
	<img src="~/Gallery/007.jpg" />
	<img src="~/Gallery/008.jpg" />
	<img src="~/Gallery/009.jpg" />
	<img src="~/Gallery/010.jpg" />
	<img src="~/Gallery/011.jpg" />
	<img src="~/Gallery/012.jpg" />
	<img src="~/Gallery/013.jpg" />
	<img src="~/Gallery/014.jpg" />
	<img src="~/Gallery/015.jpg" />
	<img src="~/Gallery/016.jpg" />
	<img src="~/Gallery/017.jpg" />
	<img src="~/Gallery/018.jpg" />
	<img src="~/Gallery/019.jpg" />
</div>


