
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Home</h2>
<div class=" content">
	<p> We are a group of professionals.</p>
	<p> We are learning skills in .NET</p>
	<p>Heloo   pppppppppp</p>
</div>

